PORT=5001
MONGODB_URI=mongodb+srv://Chennaipublicschool_22:CPS@22Chennai@cpsprimemun.sfltweu.mongodb.net/?appName=CPSPRIMEMUN
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_user_email
SMTP_PASS=your_brevo_smtp_password
SMTP_FROM=cpsprimemun@gmail.com
FRONTEND_URL=http://localhost:3000
